.home {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 40px;
  .select-language {
    margin: 12px auto;
    .lang-item {
      display: flex;
      align-items: center;
    }
  }

  .banner {
    margin-bottom: 20px;
    @include s-mobile {
      width: 100%;
    }
  }

  .title {
    font-size: 22px;
    font-weight: 400;
  }

  .keywords {
    margin-top: 12px;
  }

  .aldenn {
    a {
      color: $link-color;
    }
  }

  .label {
    display: inline-flex;
    flex-wrap: wrap;
  }
  .label-item {
    color: white;
    padding: 8px 0.5rem;
    border-radius: 6px;
    margin-right: 0.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: #333;
    display: inline-block;
  }
  .label-item.info {
    background-color: #00aefd;
  }
}
