.dropdown {
  color: $primary-color;
  width: 100%;
  position: relative;
  border-radius: 8px;
  .dropdown-caret {
    width: 12px;
    fill: $primary-color;

    &.up {
      transform: rotate(180deg);
    }
  }
  .dropdown-select {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .dropdown-select * {
    pointer-events: none;
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.4rem;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    display: none;
    &::before {
      content: '';
      height: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      transform: translateY(-100%);
    }
    &.show {
      display: block;
    }

    .dropdown-item {
      padding: 1rem;
      color: #47536b;
      transition: all 0.25s ease;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        background-color: #f1fbff;
      }
    }
  }
}
