#footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  // background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .socials {
    display: flex;
    justify-content: center;

    .img {
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin: 0 4px;
    }
  }
  h3 {
    // color: white;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0rem;
    word-spacing: 2px;
    padding-bottom: 0.7rem;
  }
}
